
#top {
    position: relative;
    background-color: #036fab;
    color: white;
    padding: 5px;
    margin: 0px 0px 10px 0px;
}

#left {
    float: left;
    width: 13%;
    background: #c2dfef;
}

#content {
    position: relative;
    background: #c2dfef;
    width: 86%;
    margin-left: 10px;
    float: left;
    clear: none;
}

/*
.menu {
    font-size: 1em;
}
*/

#top a:link, #top a:visited {
    color: white;
    font-weight : bold;
    text-decoration: none;
}

#top a:link:hover, #top a:visited:hover  {
    color: black;
    font-weight : bold;
    text-decoration : underline;
}

table {
    width:100%;
}
table tr td {
    padding: 0px;
}

.leftCol {
    width: 10%;
}

.rightCol {
    width: 60%;
}