
#top {
    position: relative;
    background-color: #036fab;
    color: white;
    padding: 5px;
    margin: 0px 0px 10px 0px;
}

#left {
    float: left;
    clear: none;
    width: 10%;
    background-repeat: no-repeat !important;
}

#content {
    position: relative;
    width: 85%;
    
    float:right;
    clear: none;
}

#top a:link, #top a:visited {
    color: white;
    font-weight : bold;
    text-decoration: none;
}

#top a:link:hover, #top a:visited:hover  {
    color: black;
    font-weight : bold;
    text-decoration : underline;
}
